<%- include('layout/header.ejs') %>

<form method="post">
  <input type="text" name="title" value="">
  <textarea name="body" rows="10" cols="30"></textarea>
  <button type="submit">SUBMIT</button>
</form>

<%- include('layout/header.ejs') %>